html {
}

body {
}

article {
}

#ressvg {
  text-align: center;
}

.slideR {
  z-index: 99;
  cursor: pointer;
  position: fixed;
  top: 40%;
  right: 0;
  margin-right: -200px;
  padding: 5px 10px;
  width: 200px;
  color: #fff;
  font-size: 16px;
  display: table;
}

.goodComment {
  background: #4682B4;
}

.badComment {
  background: #C20000;
}:

