#comment_stoker {
	display: block;
	position: absolute;
	border: 2px solid;
}

.comment_stoker_row {
	padding-top: 5px;
}

#comment_history {
	width: max(80%, 600px);
	margin: 0 auto;
	padding: 0;
}

.grid_history_row {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 70% 30%;
	margin: 10px 0;
}

.history_row_text {
	grid-column: 1;
}
.history_row_datetime {
	grid-column: 2;
}


