html {
  height: 90%;
  font-size:16px;
   scrollbar-width: none; /*Firefox対応のスクロールバー非表示コード*/
}
html::-webkit-scrollbar {
  display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}

@media screen and (max-width: 480px) {
	html {
		margin: 0 5%;
	}
}
body {
	height: 100%;
	/*border:10px solid #47a89c;/* 枠線 */
    /*box-sizing:border-box;*/
}


article {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 15% 7% 1fr 30% 15% 0fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;

}
article > * {
    margin: 3px;
}

.title {
  grid-row: 1;
  overflow-y  : auto;
  overflow-x : auto;
  /*white-space: nowrap;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
*/
   border-bottom: 5px solid black;
}

.title > h2 {
  text-align: center;
  margin: auto 0;
}
.owner_info {
  grid-row: 2;
}

.button_row {
  grid-row: 4;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}

.comment {
	margin: auto 0;
  grid-row: 5;
  text-align:center;
}
.comment > input {
  font-size:16px;
  width: 90%;

}

.button {
	min-width: 80px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  text-align:center;
  border: 2px solid;
  vertical-align: middle
}

.button > a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

.button > a {
  display: block;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

#goodButton {
  grid-column: 1;
  border-color: #4682B4;
  background: #4682B480;
}

#goodButton:hover {
	background: #3672A480;
}

#badButton {
  grid-column: 2;
  border-color: #C20000;
  background: #C2101080;
}
#badButton:hover {
	background: #A2000080;
}
.room_exit {
  grid-row: 6;

}

